.card-container {
    width: 25em;
    height: 15em;
    margin: auto;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card-content {
    transform-style: preserve-3d;
    transition: transform 700ms;
    position: relative;
}

.sideA, .sideB {
    position: absolute;
    width: 23em;
    height: 12em;
    margin: auto;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    color: #fff;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0.2em 0.2em 0.2em 1px #ddd;
}

.sideA {
    background: linear-gradient(131deg, rgba(9,101,186,1) 0%, rgba(9,134,249,1) 35%, rgba(0,212,255,1) 100%);
}

.sideB {
    transform: rotateY( 180deg ) ;
    background: linear-gradient(293deg, rgba(9,101,186,1) 0%, rgba(9,134,249,1) 35%, rgba(0,212,255,1) 100%);
}

.card-content.flipped {
    transform: rotateY( 180deg ) ;  
}

.card-content.not-flipped {
    transform: rotateY( 0deg ) ;  
}
